@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
    background: -webkit-linear-gradient(bottom left, #1e4e42 0%, #6e9f50 100%);
    background: -moz-linear-gradient(bottom left, #599f83 0%, #1ad68b 100%);
    background: -o-linear-gradient(bottom left, #191713 0%, #158834 100%);
    background: linear-gradient(to top right, #0d2216 0%, #0e3015 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEBE6C', endColorstr='#CA7C4E', GradientType=1);
    color: #786450;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    background: -webkit-linear-gradient(bottom left, #7b7fb2 0%, #894c22 100%);
    background: -moz-linear-gradient(bottom left, #9f8159 0%, #d65c1a 100%);
    background: -o-linear-gradient(bottom left, #191713 0%, #1b1410 100%);
    background: linear-gradient(to top right, #000000 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEBE6C', endColorstr='#CA7C4E', GradientType=1);
    color: #786450;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 500px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.center {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 200px;
    height: 400px;
    background-color: black;

    box-sizing: border-box;
    overflow: hidden;
    border-radius: 2px;

}

.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 400px;
    margin: -20px auto 0 20px;

}
.imagem:before {
    animation-name: animStar;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; /* Aqui está a propriedade que faz a animação ser infinita */
}

.imagem:after {
    animation-name: animStar;
    animation-duration: .8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; /* Aqui está a propriedade que faz a animação ser infinita */
}

.imagem {
    width: 135px;
    height: 135px;
}

.imagem div {
    position: relative;
    border-radius: 100%;
    border: 2px solid;

    z-index: 1;

    transition: all 1s;
}

.imagem .circle1 {
    width: 127px;
    height: 127px;
    border-color: #786450 #786450 #786450 transparent;
}

.imagem:hover .circle1 {
    transform: rotate(360deg);
}

.imagem .circle2 {
    width: 122px;
    height: 122px;
    border-color: #786450 transparent #786450 #786450;
    top: -128px;
    left: 2px;
}

.imagem:hover .circle2 {
    transform: rotate(-360deg);
}

.imagem img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;

    position: relative;
    top: -250px;
    left: 5px;
}


.textos {
    padding-top: 10px;
    text-align: center;

}

.btn {
    display: flex;
    flex-direction: column;

    width: 150px;
    height: 40px;

    margin: 30px auto 0 25px;

}

.btn>button {
    padding: 8px;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid #786450;

    background-color: #48372677;
    color: #786450;
    font-size: 14px;
    font-weight: 600;
}

.btn button:hover {
    background-color: #6b583e;
    color: white;
}

.status {
    width: 130px;
    height: 400px;

    background-color: #010a07f9;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-sizing: border-box;
}


.box-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 402px;
    overflow: hidden;
    border-radius: 2px;

}

.box-direita:hover {
    background-color: #071c0de3;
}


.borda2 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}

.box-direita span {
    font-weight: 600;
    font-size: 18px;
}

.box-direita p {
    font-size: 12px;
}